# GENERAL
numpy
pandas
scipy
matplotlib
torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
torchinfo
jupyterlab
ipython
ipywidgets
tabulate
umap-learn
seaborn
