# GENERAL
aim==3.7.4
Jinja2==3.0.3
numpy
pandas
scipy
matplotlib
torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
torchinfo
jupyterlab
ipython
tqdm
tabulate
umap-learn
seaborn
